#spotlight {
    background-color: #FFFFFF;
    color: black;
    position: absolute;
    left: 53%;
    top: 1%;
    width: 500px;
    height: 600px;
    z-index: 1000000;
    border-radius: 10px;
    padding: 20px;
}

img {
    /* background-image: url('../static/spotlight.png'); */
    height: 100px;
    width: 100px;
}

h1, h2 {
    margin: 20px;
}