#app {
    background-color: white;
    color: black;
    position: absolute;
    left: 53%;
    top: 1%;
    width: 500px;
    height: 650px;
    z-index: 1000;
    border-radius: 10px;
    padding: 20px;
}

#loaderh1 {
    color: #4B3BFF;
    font-size: 20px;
    font-weight: 400;
}